@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl;
        @apply font-bold;
    }

    @media (max-width: 768px) {
        h1 {
            @apply text-2xl;
        }
    }
}

.diagnole-borders::before,
.diagnole-borders::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
}

.diagnole-borders::before {
    top: 0;
    left: 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.diagnole-borders::after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.hero-title h1 {
    border-right: 5px solid black;
    margin: 0 auto;
    animation:
        typing 2.5s steps(40, end),
        blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

@media (max-width: 768px) {
    .hero-title h1 {
        border-right: 3px solid black;
    }

    .diagnole-borders::after,
    .diagnole-borders::before {
        height: 15px;
        width: 15px;
    }
}
